<div fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="main-card" fxFlex="80">
    <mat-list>
      <div>
        <div mat-subheader>Centros de custos</div>
        <span fxFlex></span>
        <button mat-fab color="accent" (click)="add()">
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <mat-list-item>
        <span fxFlex>Nome</span>
      </mat-list-item>
      <div style="margin-bottom: 20px;">
        <mat-divider ></mat-divider>
      </div>
      <mat-list-item *ngFor="let costCenter of costCenters">
        <div fxLayout="row" fxFill>
          <div mat-line fxFlex>{{costCenter.name}}</div>
          <span fxFlex></span>
          <mat-icon fxFlex="5" (click)="edit(costCenter.id)">edit</mat-icon>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>

